<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DoomCars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://use.fontawesome.com/releases/v5.15.2/js/all.js" data-auto-replace-svg="nest"></script>    
<link rel="stylesheet" href="css/styles.css">
    <script src="/script.js"></script>

</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="container mt-5">
        <h1>List a Car</h1>
        <div class="row">
          <div class="col-sm-8">
            <div class="card">
              <div class="card-body">
      
                <!-- Makes POST request to /register route -->
                <form action="/listcar" method="POST">
                  <div class="form-group">
                    <label for="Make">Make or Brand</label>
                    <input type="text" class="form-control" name="make" id="make">
                  </div>
                  <div class="form-group">
                    <label for="model">Model</label>
                    <input type="text" class="form-control" name="model" id="model">
                  </div>
                  <div class="form-group">
                    <label for="year">year</label>
                    <input type="number" class="form-control" name="year" id="year">

                  </div>
                  <div class="form-group">
                    <label for="type">Type
                    </label>
                    <select name="type" id="type" class="form-control">
                        <option value="economy">Economy</option>
                        <option value="suv">Suv</option>
                        <option value="vintage">Vintage</option>
                    </select>

                  </div>
                  <div class="form-group">
                    <label for="priceperhour">Price Per Hour</label>
                    <input type="number" class="form-control" name="priceperhour" id="priceperhour">
                  </div>
                  <div class="form-group">
                    <label for="priceperweek">Price Per week</label>
                    <input type="number" class="form-control" name="priceperweek" id="priceperweek">
                  </div>
                  <div class="form-group">
                    <label for="location">location</label>
                    <input type="text" class="form-control" name="location" id="location" placeholder="address,city,state">

                  </div>
                  <div class="form-group">
                    
                    <button class="btn btn-info upload-btn" type="button">Choose image</button>
                    <input type="file" class="form-control" name="image" id="upload-input" style="display: none;">

                  </div>
              
      
                  <button type="submit" class="btn btn-primary">List a Car</button>
                </form>
      
              </div>
            </div>
          </div>
    <footer>
                   
        <div class="icon-div">
            <a href="https://github.com/pradhyumna6459"><i  class=" icon-img fab fa-github fa-2x"></i></a>
            <a href="https://www.instagram.com/pradhyumna.singhrathore/"><i class="icon-img fab fa-instagram fa-2x"></i></a>
            <a href="https://www.facebook.com/pradhyumnasingh.rathore.3/"><i class="icon-img fab fa-facebook-square fa-2x"></i></a>
            <a href="https://www.linkedin.com/in/pradhyumna-singh-rathore-b6a767177/"><i  class="icon-img fab fa-linkedin fa-2x"></i></a>
            <p >
                copyright @pradhyumna 2021
            </p>

        </div>
    </footer>

</div>
<script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBcX-iZQh1lJdVQb3d-RN3lG8UmIwscRYI&libraries=places&callback=fetchLocation">
</script>

<script>
  function fetchLocation()
  {
    var location=document.getElementById('location');
    var Autocomplete=new google.maps.places.Autocomplete(location);
  }

  $(document).ready(function(){
    $('.upload-btn').on('click',function(){
      $('#upload-input').click();

    });
      $('#upload-input').on('change',function(){
        var uploadInput=$('#upload-input');
        if(uploadInput.val()!='')
        {
          var formData=new FormData();
          formData.append('image',uploadInput[0].files[0]);
          $.ajax({
            url:'/uploadImage',
            type:'POST',
            data:formData,
            processData:false,
            contentType:false,
            success:function(){
              uploadInput.val('');
            }
          })
        }
      })
    });
</script>
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

</body>
</html>



    
