.center{
    text-align: center;
}
#social{
    padding: 10%;
}
footer{
    
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    color:black;
}
.icon-img{
    padding: 1%;
}
.green{
    color: lightgreen;
}
a.one{
    color:aliceblue;
}
.row-style{
    padding: 5%;
}
.card{
    margin: 2%;
}
